head
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(rel="stylesheet" type="text/css" href="css/normalize.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
.container
    nav
        ul
            a(href="")
                li Homes
            a(href="")
                li Projects
            a(href="")
                li Resume
            a(href="")
                li Contact
    .header
        .name Yusuf
            .second Yildiz
        .description Hello there, I'm an enthusiastic full stack developer with experience in HTML5/CSS3/JQuery & BackboneJS/C# ASP.NET.
    .panel
        .front-end.box-left
        .description.right-side
            .title ABOUT ME
            .desc I love working on creating beautiful websites, animating things with CSS3, and creating CSS3 drawings in my free time. To view some of my CSS work click the link below.
            a(href="http://codepen.io/yyildiz/").learn-more Codepen
    .panel
        .space-hauc.box-right
        .description
            .title SPACE HAUC
            .desc I am the lead developer of the attitude control system of Space HAUC, a NASA and UMass Lowell funded project to send a cube satellite into orbit for research purposes.
            a(href="https://www.uml.edu/News/stories/2016/student-satellite-mission.aspx").learn-more Learn More
